
    <hr />
    
    <div class="row">
        <p style="text-align: center; color: #888">
            <%= brand %> | Server Time: <%= current_datetime %> <br />
        </p>
    </div>
</div>

</body>

</html>
